<html>
<head>
<title> UserForm </title>
<link rel="stylesheets" href="app/assets/stylesheets/application.css">
</head>
<body>
   <form>
   <label>First name:</label><br>
   <input type="text"><br>
  <label>Email:</label><br>
  <input type="Email"><br><br>
  <button id = "mybutton">Submit</button>
  </form>
  <script>
const button = document.getElementById("mybutton");
button.addEventListener('click', function()
{
    alert("your details have been submitted")
});
</script>
         
   
</body>
</html>

