<html>
<head>
<title>Welcome</title>
<link rel="stylesheets" href="app/assets/stylesheets/application.css">
</head>
<body>
<h1>DispatchTrack</h1>
<button id = "mybutton">Form</button>

<script>
const button = document.getElementById("mybutton");
button.addEventListener('click', function()
{
    location.href="articles";
});
</script>
</body>
</html>

